<div class="sidebar p-3">
    <h4 class="text-white mb-4">Logo</h4>
    <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
        <li class="nav-item mb-2"><a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a></li>
        <li class="nav-item mb-2"><a href="{% url 'criar_produto' %}" class="nav-link">Produtos</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link">Pedidos</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link">Relatórios</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link">Feedbacks</a></li>
    </ul>
</div>
